* {
	box-sizing: border-box;
}

header {
	font-size: 60px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: rgb(0, 0, 0);
}
body {
    justify-content: center;
	margin: 150px;
}

button {
	font-family: sans-serif;
	font-size: 20px;
	background-color: rgb(34, 153, 119);
	color: rgb(255, 255, 255);  
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-top: 20px;
}

.dissapear {
	display: none;
}

#question {
    font-weight:500;
}

.answers {
    margin-bottom: 20 px;
}
.timer {
	height: 75px;
	padding: 10px;
	text-align: center;
	background: rgb(173, 216, 230);
	color: rgb(0, 0, 0);
}

ul {
	list-style: none;
}


@media screen and (max-width: 1200px) {
	main {
		flex-direction: column;
	}
}